.leave-feedback-container {
    width: 70vw;
    margin: 20vh auto;
    padding: 3vh;
    background-color: #ffffff;
    border-radius: 2vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.leave-feedback-container a {
    text-decoration: none;
}

.back-link {
    font-size: 1.2rem;
    margin-bottom: 2vh;
}

.user-name-link {
    color: #007bff;
    text-decoration: none;
}

.feedback-section, .rating-section {
    margin-bottom: 3vh;
}

.feedback-textarea {
    margin-top: 1vh;
    width: calc(100% - 2rem);
    height: 15vh;
    padding: 2vh;
    border: none;
    border-radius: 1vh;
    font-size: 1rem;
    resize: none;
    background-color: #EDEEF0;
    color: #666;
}

.rating-section label {
    font-size: 1rem;
    margin-bottom: 1vh;
    display: block;
}

.rating-categories {
    color: #808080;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    margin-top: 1vh;
    width: calc(100% - 2rem);
}

.rating-category {
    text-align: center;
    font-size: 1rem;
}

.stars {
    display: flex;
    gap: 0.5vw;
}

.star {
    font-size: 1rem;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
    border-radius: 10px;
}

.star.active {
    color: #007bff;
}

.anonymous-checkbox {
    font-size: 1rem;
    margin-bottom: 3vh;
    color: #B2B2B4;
}

.text-anonymous {
    margin-left: 1.5vh;
}

.submit-button {
    width: 20vw;
    padding: 1.5vh;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

.file-upload-box {
    border: 2px dashed #D1D1D1;
    border-radius: 8px;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #808080;
    font-size: 1rem;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.upload-icon {
    width: 2rem;
    margin-bottom: 1vh;
    color: #007bff;
}

@media only screen and (max-width: 767px) {
    .leave-feedback-container {
        margin-top: 12vh;
    }

    .submit-button {
        width: 70vw;
    }

    .rating-categories {
        flex-direction: column;
    }
}
